#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Global font settings */
body {
  font-family: "Montserrat", "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header styles shared across pages */
.section-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

/* Navbar Styles */
nav {
  background-color: #c5c4c498;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-links li {
  margin: 0 1.5rem;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #60884ea2;
}

.navbar-name {
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 1rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }
}

/* About Me Styles */
.about-me-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-image {
  width: 21vh;
  height: 18vh;
  margin-right: 2rem;
}

.about-me-details {
  max-width: 100%;
  text-align: left;
}

.about-me-details h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.about-me-details h6 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #555;
}

.about-me-details p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #333;
}

.about-me-description,
.about-me-contact {
  font-size: 1rem;
  color: #333;
  margin: 1rem 0;
  text-align: left;
  padding: 0.5rem;
}

.about-me-contact {
  text-align: center;
}

.about-me-contact a {
  color: #60884e;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.about-me-contact a:hover {
  text-decoration: underline;
}

/* Contact Form Styles */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

div {
  margin-bottom: 1em;
}

label {
  text-align: left;
  margin-bottom: .5em;
  color: #333;
  display: block;
}

input, textarea {
  border: 1px solid #ccc;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  border-radius: 5px;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #60884e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #60884eb6;
}

.error {
  color: red;
  font-size: 0.9em;
}

/*  Resume Styles */
.resume-section {
  background-color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.resume-text {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.resume-link {
  display: inline-block;
  background-color: #60884e;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.resume-link:hover {
  background-color: #60884e9d;
  color: #fff;
}

.resume-subheading {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.resume-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.resume-list-item {
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  font-size: 1rem;
}

/* Portfolio styles */
.portfolio-section {
  padding: 2rem;
  background-color: #f9f9f9;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.portfolio-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-title {
  font-size: 1.5rem;
  color: #60884e;
  margin-bottom: 1rem;
}

.portfolio-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.portfolio-links {
  font-size: 1rem;
  color: #60884e;
}

.portfolio-links a {
  color: #60884e;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.portfolio-links a:hover {
  color: #60884ea2;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
  bottom: 0;
  width: 95%;
  border-top: 1px solid #444;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
}

footer ul li {
  display: inline;
  margin: 0 1rem;
}

footer ul li a {
  color: #4ab6e5;
  text-decoration: none;
  font-weight: 600;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer ul li a:visited {
  color: #a0d0f1;
}