#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Navbar Styles */
nav {
  padding: 1rem 2rem 1rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-links li {
  margin: 0 1.5rem;
}

.navbar-links a {
  color: #60884e;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #60884ea2;
}

.navbar-name {
  color: #60884e;
  font-size: 1.2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }
}

/* Contact Form Styles */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  background-color: #f9f9f9;
}

div {
  margin-bottom: 1em;
}

label {
  margin-bottom: .5em;
  color: #333;
  display: block;
}

input, textarea {
  border: 1px solid #ccc;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  border-radius: 5px;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #60884e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #60884eb6;
}

.error {
  color: red;
  font-size: 0.9em;
}

/*  Resume Styles */
.resume-section {
  background-color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.resume-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.resume-text {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.resume-link {
  display: inline-block;
  background-color: #60884e;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.resume-link:hover {
  background-color: #60884e9d;
  color: #fff;
}

.resume-subheading {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.resume-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.resume-list-item {
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  font-size: 1rem;
}

/* Portfolio styles */
.portfolio-section {
  padding: 2rem;
  background-color: #f9f9f9;
}

.portfolio-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.portfolio-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-title {
  font-size: 1.5rem;
  color: #60884e;
  margin-bottom: 1rem;
}

.portfolio-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.portfolio-links {
  font-size: 1rem;
  color: #60884e;
}

.portfolio-links a {
  color: #60884e;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.portfolio-links a:hover {
  color: #60884ea2;
}